html{
    background-color: rgba(249, 245, 210, 0.454);
}

ul {
    color: rgb(36, 122, 100);
    list-style: armenian;
}

h2 {
    color: #a52a2a92;
}
b {
    color: #320549;
}
.big_text {
    font-size: 24px;
}
